# Пример №1

In [ ]:
class T1:
  n=10
  def total (self, N): #метод total прибавление 10 к аргументу
    self.total = int(self.n) + int(N)

class T2:
  def total(self,s): #метод total подсчт длины строки символов
    self.total = len(str(s))

t1 = T1()
t2 = T2()
t1.total(45)
t2.total(45)
print(t1.total)
print(t2.total)

55
2

# Задание №1
Напишите программу, запрашивающую у пользователья ввод числа. Если число принадлежит диапозону от -100 до 100, то создается объект одного класса, во всех остальных случаях создается обьект другого класса. В обоих классах должен быть метод конструктор __init__, который в первом классе возводит число в квадрат, а во-втором - умножает на два.

In [1]:
class One:
 def __init__(self,a):
  self.a = a**2

class Two:
  def __init__(self,a):
    self.a = a*2

a = input("Введите число:")
a = int(a)
if -100 < a < 100:
  obj = One(a)
else:
  obj = Two(a)

print(obj.a)

Введите число:10
100

# Задание №2

In [3]:
class Base:
  def __init__(self,n):
    self.numb = n 
  def out(self):
    print(self.numb)

class One(Base):
  def multi(self,m):
    self.numb *= m 

class Two(Base):
  def inlist(self):
    self.inlist = list(str(self.numb)) 
  def out(self):
    i = 0
    while i < len(self.inlist):
        print(self.inlist[i])
        i += 1

obj1 = One(45)
obj2 = Two('abc')

obj1.multi(2)
obj1.out() # Вывод числа 90

obj2.inlist()
obj2.out() # Вывод в столбик букв a, b,c

90
a
b
c

# Задание №3

In [4]:
class Base:
  def __init__(self,N):
    self.numb = N 
  def out(self):
    self.numb /= 2 
    print(self.numb)

class Subclass(Base):
  def out(self):
    print("/n----")
    Base.out(self)
    print("----/n")
   
i = 0
while i < 10:
  if 4 < i < 7:
     obj = Subclass(i)
  else:  
    obj = Base(i)
  i += 1

obj.out()

4.5

# Практическое задание последнее такое же как вся практическая работа №4, и предоставлена отдельным файлом.